alabaster==0.7.8
apparmor==2.13.3
appdirs==1.4.4
arandr==0.1.10
attrs==19.3.0
Automat==0.8.0
autotiling==1.1
awscli==1.18.69
Babel==2.6.0
beautifulsoup4==4.8.2
blinker==1.4
botocore==1.16.19
Brlapi==0.7.0
cairocffi==0.9.0
CairoSVG==2.5.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
colour==0.1.5
command-not-found==0.3
configparser==5.0.1
constantly==15.1.0
cryptography==2.8
cssselect2==0.2.2
cupshelpers==1.0
cycler==0.10.0
dbus-next==0.2.2
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docutils==0.16
entrypoints==0.3
eventlet==0.30.1
filelock==3.0.12
greenlet==1.0.0
html5lib==1.0.1
httplib2==0.19.0
hyperlink==19.0.0
i3ipc==2.2.1
i3pystatus==3.35
idna==2.8
imagesize==1.2.0
IMAPClient==2.2.0
incremental==16.10.1
ipython-genutils==0.2.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.2.0
jupyter-core==4.7.1
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
LibAppArmor==2.13.3
louis==3.12.0
lxml==4.6.2
MarkupSafe==1.1.0
matplotlib==3.1.2
meson==0.53.2
nbformat==5.1.2
netifaces==0.10.4
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
packaging==20.3
pexpect==4.6.0
pigar==0.10.0
Pillow==7.1.0
ply==3.11
psutil==5.8.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.19
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.17.3
pyte==0.8.0
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-xlib==0.29
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.0
s3transfer==0.3.3
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
soupsieve==1.9.5
Sphinx==1.8.5
ssh-import-id==5.10
systemd-python==234
thefuck==3.30
tinycss2==1.0.2
traitlets==5.0.5
Twisted==18.9.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.4.2
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
xcffib==0.8.1
xkit==0.0.0
zope.interface==4.7.1
